<!DOCTYPE html>
<html>
  <head>
    <title>Image Recognition</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      #video {
        border: 2px solid #000;
      }
      #result {
        font-size: 1.5em;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <video id="video" width="480" height="360" autoplay></video>
      <p id="result">Esperando imagen...</p>
    </div>

    <script>
      const video = document.getElementById("video");

      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then((stream) => {
          video.srcObject = stream;
        })
        .catch((err) => {
          console.error("Error accessing camera: ", err);
        });

      function captureFrame() {
        const canvas = document.createElement("canvas");
        canvas.width = video.width;
        canvas.height = video.height;
        const context = canvas.getContext("2d");
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        return canvas.toDataURL("image/jpeg");
      }

      async function predictImage() {
        const dataUrl = captureFrame();
        const blob = await (await fetch(dataUrl)).blob();

        const formData = new FormData();
        formData.append("file", blob, "image.jpg");

        const response = await fetch("/predict", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const result = await response.json();
          document.getElementById(
            "result"
          ).innerText = `Prediction: ${result.prediction}`;
        } else {
          document.getElementById("result").innerText = `Error in prediction`;
        }
      }

      setInterval(predictImage, 3500);
    </script>
  </body>
</html>
